*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: #F7EDE8;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 100px;
    width: 100%;
    background-color: #6CB345;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo{
    background-image: url(images/Layer_1-2.png);
    height: 70px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 40px;
}

.logo:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.ul1{
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.ul1 li{
    padding: 30px;
    font-size: 25px;
    color: #F7EDE8;
    cursor: pointer;
}

.ul1 li:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgb(0, 255, 170);
    color: black;
    border-radius: 30px;
}

.main-container{
    background-color: #6CB345;
    width: 100%;
    padding: 160px 100px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading1{
    max-width: 500px;
    font-size: 96px;
    line-height: 100px;
    color: #F7EDE8;
}

.info1{
    width: 500px;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 700;
    color: #F7EDE8;
}

.btn1{
    margin-top: 40px;
    width: 200px;
    height: 55px;
    background-color: #5740C0;
    border: none;
    font-size: 21px;
    color: #F7EDE8;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.btn1:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgb(0, 255, 170);
    color: black;
    border-radius: 10px;
}

.main-container2{
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.wave{
    width: 100%;
    height: auto;
    display: block;
}

.main-container3{
    width: 100%;
    padding: 100px;
    background-color: #F7EDE8;
    margin-top: -200px;
}

.Drones{
    font-size: 64px;
    color: #5740C0;
    margin-bottom: 30px;
}

.Drones:hover{
    transform: scale(1.1);
    transition: 0.5s;
    padding-left: 53px;
}

.info2,
.info3,
.info4{
    max-width: 800px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25.6px;
    color: #5740C0;
    margin-bottom: 20px;
}

.main-container4{
    width: 100%;
    height: 640px;
    background-color: #5740C0;
    padding: 90px 0;
    text-align: center;
    color: #F7EDE8;
}

.vernagir{
    font-size: 40px;
    margin-bottom: 45px;
}

.heading2{
    height: 570px;
    width: 620px;
    background-image: url(images/Dronenkar.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}


.main-container5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.vernagir2{
    font-size: 48px;
    color: #5740C0;
    margin-bottom: 10px;
}

.info5{
    max-width: 800px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25.6px;
    color: #5740C0;
    margin: 50px 0;
}

.footer{
    width: 100%;
}

.f1{
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.wave2{
    width: 100%;
    height: auto;
    display: block;
    transform: scaleY(-1);
}

.f2{
    width: 100%;
    padding: 80px 0;
    background-color: #5740C0;
    text-align: center;
    color: #F7EDE8;
    height: 450px;
}

.footerh1{
    font-size: 60px;
    margin-bottom: 30px;
}

.footerh2{
    font-size: 25px;
}

.footericons{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 50px;
    margin-top: 50px;
}


.footericons a{
    color: #F7EDE8;
}

.footericons i:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.footer2{
    width: 100%;
    height: 78px;
    background-color: #6CB345;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info6{
    font-size: 20px;
    color: #F7EDE8;
    font-size: 16px;
    margin-left: -200px;
}

.p1{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.p1:hover{
    transform: scale(1.1);
    transition: 0.3s;
    text-decoration: underline;
}

.p2{
    color:#5740C0 ;
    padding: 10px 0;
}

.p2:hover{
    transform: scale(1.1);
    transition: 0.3s;
    text-decoration: underline;
    padding-left: 50px;
}

.logo2{
    height: 100px;
    width: 100px;
    background: url(images/Layer_1-3.png);
    background-repeat: no-repeat;
    color: #6CB345;
    margin-top: -150px;
    margin-right: 620px;
}

.back1{
    height: 800px;
    width: 550px;
    background-image: url(images/back1.png);
    background-repeat: no-repeat;
    margin-top: 100px;
}

.d1{
    padding: 100px;
}

.vector6 {
    width: 170px;
    height: 170px;
    margin-left: 1050px;
    margin-top: -100px;
    background-image: url(images/Vector\ 6.png);
    background-repeat: no-repeat;
    position: relative;
}

.vector7 {
    width: 66px;
    height: 61px;
    margin-left: 1000px;
    background-image: url(images/Vector\ 7.png);
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(340deg);
}