*{
    padding: 0;
    margin: 0;
}

.header{
    height: 100px;
    width: 100%;
    background-color: rgba(108, 179, 69, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo{
    background-image: url(images/Layer_1-2.png);
    height: 100px;
    width: 150px;
    background-repeat: no-repeat;
    margin: 40px 40px 0 40px;
    width: 20%;
}

.ul1{
    display: flex;
    list-style: none;
    margin: 40px;
    width: 80%;
}

.ul1 li{
    padding:30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}