*{
    padding: 0;
    margin: 0;
}

.header{
    height: 100px;
    width: 100%;
    background-color: rgba(108, 179, 69, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.logo{
    background-image: url(images/Layer_1-2.png);
    height: 100px;
    width: 150px;
    background-repeat: no-repeat;
    margin: 40px 40px 0 40px;
    width: 20%;
}

.ul1{
    display: flex;
    list-style: none;
    margin: 40px;
    width: 70%;
}

.ul1 li{
    padding:30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F7EDE8;
    cursor: pointer;
}

.ul1 li:hover{
    transform: scale(1.1);
    transition: 500ms;
}

.main-container {
    background-color: rgba(108, 179, 69, 1);
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
}

.heading1{
    width: 488px;
    height: 180px;
    top: 176px;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0%;
    color: #F7EDE8;
    position: absolute;
}

.info1{
    width: 488px;
    height: 42px;
    top: 386px;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold, 700;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    color: #F7EDE8;
}

.btn1{
    position: absolute;
    width: 200px;
    height: 55px;
    top: 470px;
    left: 100px;
    background-color: #5740C0;
    border: 0;
    font-size: 21px;
    color: #F7EDE8;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btn1:hover{
    background-color: #3d2c87;
    transition: 500ms ease;
    transform: scale(1.1);
}

.btn1:active{
    background-color: #2a1f5a;
}

.main-container2 {
  position: relative;
  width: 100%;
  height: 400px;        
  background: white;     
  overflow: hidden;  
     
}


.wave {
  position: absolute;
  top: 0;        
  left: 0;
  width: 100%;     
  height: 150px;  
  transform: none; 
}

.cur-tapancik1{
    height: 400px;
    width: 400px;
    background-color: rgba(247, 237, 232, 1);
    opacity: 0.2;
    
}